/* Note: resets and defaults applied by YUI */

/* --- social bookmarks ----------------------------------------------------- */
.post .fb_share_count_wrapper {
  float: none;
}

.social-bookmark {
  margin-bottom: 10px;
}

/* YUI */

.yui-skin-sam .yui-panel {
  text-align: left;
}

.yui-skin-sam .yui-panel .ft {
  text-align: right;
}

/* --- basic layout and design ---------------------------------------------- */

img { border: none; }

a, a:link {
  color: #004eb8;
}

a:visited {
  color: #002455;
}

a:hover {
  color: #006bfc;
}

table, td, th {
  border: none;
}

pre { 
  overflow: auto; 
  font-size: 10pt;
}

body {
  text-align: center;
  margin: 0;
  /* background-color: #f7f7f7; */
  font: 95% arial, verdana, helvetica, sans-serif;
}

#mainWrapper {
  display: block;
  width: 940px;
  text-align: left;
  margin: auto;
  /*
  border-top: 6px solid #e3eaf4;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  */
  background-color: #ffffff;
}

#head {

}

#columnWrapper {
  display: block;
  width: 100%;
  float: left;
}

#navCol {
  display: block;
  float: right;
  width: 200px;
  padding-left: 10px;
  border-left: 1px dotted silver;
}

#mainCol {
  display: block;
  float: left;
  width: 690px;
  padding-right: 15px;
  padding-left: 20px;
  
}

#foot {
  font-size: 80%;
  background-color: #e3eaf4;
  padding: 4px;
  text-align: center;
  margin-top: 20px;
}

.clear {
  clear: both;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
}

/* --- navigation ----------------------------------------------------------- */

.nav-block {
  margin-bottom: 40px;
}

.nav-ads {
  text-align: center;
  border-top: 1px dotted silver;
  padding-top: 20px;
}

.nav-block h3 {
  font-family: "Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
  font-weight: normal;
  color:#666666;
  font-weight:normal;
  letter-spacing:2px;
  margin: 0 0 10px 0;
}

.nav-block ul {
  margin-left: 0;
  padding-left: 0;
}

.nav-block ul li {
  list-style-type: none;
}

.nav-block li div {
  font-size: 90%;
  color: #4d4d4d;
  font-style: oblique;
  margin: 2px 0 6px 4px;
}

/* --- category style pages ------------------------------------------------- */

.category .post-summary {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted silver;
}

.category .post-summary h2 {
  font-family: georgia, serif;
  margin: 2px 0;
  font-size: 160%;
}

.category .post-summary h2 a {
  text-decoration: none; 
}
 
.category .post-summary .date {
  color: #666666;
  margin-bottom: 10px;
}

.category .pagination {
  text-align: center;
  font-size: 110%;
}

/* --- posts ---------------------------------------------------------------- */

.post .fixed {
  font-family: monospace;
  border: 1px dotted silver;
  padding: 2px;
}

.post .contents p {
  line-height: 140%;
}

.post h1 {
  font-family: georgia, serif;
  margin: 2px 0;
  font-size: 200%;
}

.post .contents h2, .post .contents h3, .post .contents h4, .post .contents h5 {
  font-family: georgia, serif;
  margin: 30px 0 10px 0; 
}

.post .contents h2 {
  font-size: 150%;
}

.post .contents h3 {
  font-size: 150%;
}

.post .contents h4 {
  font-size: 125%;
}

.post .contents h5 {
  font-size: 100%;
  font-weight: normal;
  text-decoration: underline;
  font-family: verdana, helvetica, arial, sans-serif;
}

.post .contents .date {
  color: #666666;
  margin-bottom: 25px;
}

.post .contents pre {
  border: 1px solid #e5e5e5;
  padding: 4px;
  margin: 6px 0;
  line-height: 130%;
}

.post .contents pre.term {
  background-color: #2b2b2b;
  color: #ffffff;
}

.post .contents blockquote {
  font-family: georgia, serif;
  font-size: 120%;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 6px solid #e5e5e5;
  font-style: oblique;
  color: #4d4d4d;
}

.post .contents ul, .post .contents ol {
  margin-left: 0;
}

.post .contents ul li, .post .contents ol li {
  margin: 6px 0;
  line-height: 140%;
}

.post .contents table th, .post .contents table td {
  padding: 2px;
  vertical-align: top;
  text-align: left;
}

.post .contents .bordertable {
  border-collapse: collapse;
  border: 1px solid black;
}

.post .contents .bordertable td, .post .contents .bordertable th {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 4px;
}

.post #categories {
  font-size: 90%;
  margin: 25px 0;
}

.post #comments {
  background-color: #5d6b87;
  padding: 10px;
  margin-top: 30px;
}

.post #comments h2 {
  color: #ffffff;
  margin: 2px 2px 4px 2px;
  font-weight: normal;
}

.post #comments .comment {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.post .comment .author_name {
  font-weight: bold;
}

.post .comment .comment_date {
  color: #666666;
  margin-bottom: 15px;
  font-size: 90%;
}

.post .comment .comment_contents {
  font-size: 90%;
}

.post .comment-links {
  padding: 4px 0 20px 20px;
  display: block;
  line-height: 140%;
}
.post .comment-links a, .post .comment-links a:visited, .post .comment-links a:link {
  color: #ffffff;
}


.post #leaveComment h2 {
  margin: 20px 2px 10px 2px;
}

.post #leaveComment table, .post #leaveComment td, .post #leaveComment tr {
  border: none;
}

.post #leaveComment table td {
  color: white;
  vertical-align: top;
}

.post #leaveComment table td input {
  width: 300px;
}

.post #leaveComment table td.submit input {
  width: 150px;
}

.post #leaveComment table td textarea {
  width: 425px;
}

/* --- category page -------------------------------------------------------- */

.category h1 {
  font-family: georgia, serif;
  margin: 2px 0;
  font-size: 200%;
}

.category .description {
  margin: 8px 0 18px 0;
  color: #4d4d4d;
  font-style: oblique;
}

.category .info {
  padding: 10px;
  background-color: #E3EAF4;
  margin: 10px 0 20px 0;
}



a.rss-link {
  padding-left: 16px;
  background: url('../images/rss-icon.gif') no-repeat left center;
}

a.comment-link {
  padding-left: 16px;
  background: url('../images/comment-icon.gif') no-repeat left center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

a.external {
  background: url('../images/external-link.gif') no-repeat right center;
  padding-right: 16px;
}

.underline {
  text-decoration: underline;
}





.tutorial_c {
  color: #005000;
}

.tutorial_py {
  color: #420060;
}
